.staff-container {
  background: #16213e;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.staff {
  position: relative;
  height: 160px;
  background: transparent;
 /* max-width: 800px; We don't need to set a max width here because it will be set by the parent */
  display: flex;
  align-items: center;
  justify-content: start;
}

/** Padding between rows */
.staff-row{
  padding-block: 10px;
}

.staff-line {
  position: absolute;
  left: 0px;
  right: 20px;
  height: 2px;
  background: #e8e8e8;
}

.clef {
  font-size: 55px;
  user-select: none;
  padding-top: 10px;
}

.note {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.1s ease;
  isolation: isolate;
  z-index: 10;
}


.note:hover {
  transform: scale(1.15) translateY(-3px);
}

.note-head {
  position: absolute;
  width: 16px;
  height: 12px;
  background: #2d2d44;
  border: solid 2px white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.note.active .note-head {
  background: #ff6b6b;
}

.note-stem {
  position: absolute;
  width: 1px;
  height: 30px;
  background: white;
  right: -1px;
  top: -30px;
}

.note-flag {
  position: absolute;
  width: 10px;
  height: 6px;
  right: -10px;
  border: solid;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-top-width: 0px;
  border-color: white;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
}

.note.whole .note-head {
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
}

.note.whole.active .note-head {
  border-color: #ff6b6b;
}

.rest {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rest-symbol {
  font-size: 28px;
  color: #2d2d44;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.note.active .rest-symbol {
  color: #ff6b6b;
}

.ledger-line {
  position: absolute;
  left: 50%;
  transform: translateX(-20%);
  width: 24px;
  height: 2px;
  background: #e8e8e8;
}

.accidental {
  position: absolute;
  left: 5px;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
}

.chord {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 45px;
  transition: transform 0.1s ease;
  user-select: none;
}
.chord:hover {
  transform: scale(1.15);
}

.for-chord {
  top: 20px;
  left: 30px;
}
